:root {
    --white-color: #FFFFFF;

    --header-gradient-color: linear-gradient(73deg, #FF5700 0%, #FFB43A 40.89%, #FFCC49 99.38%);
    --header-secondary-color: #FF9D58;
    --header-gray-color: #393939;
}