:root {
    --white-color: #FFFFFF;
    --gray-color: #393939;
    --black-color: #000000;

    --header-gradient-color: linear-gradient(73deg, #FF5700 0%, #FFB43A 40.89%, #FFCC49 99.38%);
    --header-secondary-color: #FF9D58;

    --implantation-orange: #FFB43A;
}